@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 50% 96%;
    --foreground: 265 25% 25%;
    --card: 270 50% 100%;
    --card-foreground: 265 25% 25%;
    --popover: 270 50% 100%;
    --popover-foreground: 265 25% 25%;
    --primary: 265 39% 70%;
    --primary-foreground: 265 25% 15%;
    --secondary: 270 40% 90%;
    --secondary-foreground: 265 25% 25%;
    --muted: 270 40% 92%;
    --muted-foreground: 265 25% 45%;
    --accent: 270 33% 85%;
    --accent-foreground: 265 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 33% 88%;
    --input: 270 33% 88%;
    --ring: 265 39% 70%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 265 25% 10%;
    --foreground: 270 50% 96%;
    --card: 265 25% 15%;
    --card-foreground: 270 50% 96%;
    --popover: 265 25% 10%;
    --popover-foreground: 270 50% 96%;
    --primary: 265 39% 70%;
    --primary-foreground: 265 25% 15%;
    --secondary: 265 25% 20%;
    --secondary-foreground: 270 50% 96%;
    --muted: 265 25% 20%;
    --muted-foreground: 270 50% 80%;
    --accent: 265 25% 25%;
    --accent-foreground: 270 50% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 25% 25%;
    --input: 265 25% 25%;
    --ring: 265 39% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
}